<div class="jumbotron">
  <a href="/">
    <h1 class="text-center jobs" >
      <div style="float: left;">&larr;</div>顺 势 而 为
    </h1>
  </a>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="col-sm-12 job-menu">
      <div class="btn-group btn-group-vertical" role="group" aria-label="...">
        <% @categories.each do |category| %>
          <dl>
            <dt>
              <%= link_to category.name, category_path(category) %>
            </dt>
          </dl>
        <% end %>
        <div class="divider"></div>
        <div class="btn-group" role="group">
          <dl>
            <dt>
              排序
            </dt>
            <dd>
              <%= link_to "按工资下限排序", jobs_path(:order => 'by_lower_bound') %>
            </dd>
            <dd>
              <%= link_to "按工资上限排序", jobs_path(:order => 'by_upper_bound') %>
            </dd>
            <dd>
              <%= link_to "按发表时间排序", jobs_path %>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <ul class="job-list">
      <% @jobs.each do |job| %>
      <a href="/jobs/<%= job.id %>">
        <li class="job-primary">
          <div class="info-primary">
            <!-- <h3><%= link_to job.title, job_path(job)%></h3> -->
            <h3><%= job.title %></h3>
            <p class="red"><%= job.wage_lower_bound %> K - <%= job.wage_upper_bound %>K </p>
          </div>
          <div class="info-time">
            <p class="time"><%= newTimeFormat(job.created_at) %></p>
          </div>
        </li>
      </a>
      <% end %>
    </ul>
    <div class="digg_pagination">
      <%= will_paginate @jobs, :container => false %>
    </div>
  </div>
</div>
