<ul class="job-list job-item">
  <li class="job-primary">
    <div class="info-primary">
      <h3><%= @job.title %></h3>
      <p class="red">¥ <%= @job.wage_lower_bound %> - ¥ <%= @job.wage_upper_bound %> </p>
      <p><%= @job.job_address %></p>
    </div>
    <div class="pull-right company_image">
      <% if @job.company_image.present? %>
      <%= image_tag(@job.company_image.thumb.url, class: "thumbnail") %>
      <% else %>
      <%= image_tag("http://placehold.it/100x100px&text=No Pic") %>
      <% end %>
    </div>
    <div class="info-time text-right">
      <p class="company-name"><%= @job.company_name %></p>
      <p class="time"><%= newTimeFormat(@job.created_at) %></p>
    </div>
  </li>
</ul>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "职位列表 -->", jobs_path, class: "pull-right" %>
    <%= simple_format(@job.description) %>

    <p class="text-center" style="font-size: 30px; text-decoration: underline;">
      <%= link_to "提交简历", new_job_resume_path(@job) %>
    </p>

    <hr>
    <% @resumes.each do |resume| %>
    <% if resume.user == current_user %>
      <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">
              <p><%= resume.user.email %></p>
            </div>
          </div>
          <div class="panel-body">
            <%= simple_format(resume.content) %>
            <hr>
            <% if resume.attachment.present? %>
              <i class="fa fa-paperclip " aria-hidden="true"></i>
              <%= link_to "Download Resume", resume.attachment_url %>
            <% else %>
              No attachment
            <% end %>

            |  提交时间：<%= newTimeFormat(resume.created_at) %>

            <%= link_to "删除", job_resume_path(resume.job, resume),  class: "btn btn-danger btn-xs pull-right",
                                 method: :delete, data: { confirm: "你确定要删除这个简历吗?" }%>
            <%= link_to "修改", edit_job_resume_path(resume.job, resume),  class: "btn btn-success btn-xs pull-right" %>
          </div>
      </div>
      <% end %>
    <% end %>

  </div>
</div>
