<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1><%= @job.title %></h1>
    <%= link_to "职位列表 -->", jobs_path, class: "pull-right" %>
    <%= simple_format(@job.description) %>

    <p class="text-center" style="font-size: 30px; text-decoration: underline;">
      <%= link_to "提交简历", new_job_resume_path(@job) %>
    </p>

    <hr>
    <% @resumes.each do |resume| %>
      <div class="panel panel-info">
        <% if resume.user = current_user %>
          <div class="panel-heading">
            <div class="panel-title">
              <p><%= resume.user.email %></p>
            </div>
          </div>
          <div class="panel-body">
            <%= simple_format(resume.content) %>
            <hr>
            <% if resume.attachment.present? %>
              <i class="fa fa-paperclip " aria-hidden="true"></i>
              <%= link_to "Download Resume", resume.attachment_url %>
            <% else %>
              No attachment
            <% end %>

            |  提交时间：<%= newTimeFormat(resume.created_at) %>

            <%= link_to "删除", job_resume_path(resume.job, resume),  class: "btn btn-danger btn-xs pull-right",
                                 method: :delete, data: { confirm: "你确定要删除这个简历吗?" }%>
            <%= link_to "修改", edit_job_resume_path(resume.job, resume),  class: "btn btn-success btn-xs pull-right" %>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
