<div class="jumbotron welcome">
  <a href="/jobs">
    <h1 class="text-center welcome-title" style="color: #fc703e; margin-top: 140px;font-size: 100px; z-index:1000;">
      点 燃 梦 想<br/>
      <small>JUST NOW! </small><br/>&rarr;
    </h1>
  </a>
</div>
<div class="intro">
  <h1 class="title">Jobs in China</h1>
  <p class="slogan">Jobs in China 是一个提供软件开发高薪工作机会的求职网站
  <br>
  我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作
  <br>
   凭借自己的努力和天份也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>
<div class="container-fluid text-center language">
  <h2>热 门 职 位</h2>
  <p>总有一个是你的最爱</p>
  <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-2">
          <div class="thumbnail">
            <a href="#demo" data-toggle="collapse">
              <img src='<%= image_url 'node.png' %>' alt="node">
            </a>
            <div id="demo" class="collapse">
              <p><strong>Node.js</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <a href="#demo1" data-toggle="collapse">
              <img src="<%= image_url "ruby.png" %>" alt="ruby">
            </a>
            <div id="demo1" class="collapse">
              <p><strong>Ruby</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <a href="#demo3" data-toggle="collapse">
              <img src='<%= image_url 'java.png' %>' alt="java">
            </a>
            <div id="demo3" class="collapse">
              <p><strong>Java</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <a href="#demo4" data-toggle="collapse">
              <img src="<%= image_url "php.png" %>"  alt="php">
            </a>
            <div id="demo4" class="collapse">
              <p><strong>php</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <a href="#demo5" data-toggle="collapse">
              <img src="<%= image_url "python.png" %>"  alt="python">
            </a>
            <div id="demo5" class="collapse">
              <p><strong>Python</strong></p>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <a href="#demo6" data-toggle="collapse">
              <img src="<%= image_url "go.png" %>" alt="go">
            </a>
            <div id="demo6" class="collapse">
              <p><strong>Go</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel welcome">
  <h2 class="text-center title">他们一直在用</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <ul>
          <li>
            <img src="<%= image_url "c-1.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-2.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-3.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-4.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-5.png" %>" alt="百度">
          </li>
        </ul>
      </div>

      <div class="item">
        <ul>
          <li>
            <img src="<%= image_url "c-6.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-7.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-8.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-9.png" %>" alt="百度">
          </li>
          <li>
            <img src="<%= image_url "c-10.png" %>" alt="百度">
          </li>
        </ul>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
