<div class="jumbotron">
  <a href="/jobs">
    <h1 class="text-center welcome-title" style="color: #fc703e; margin-top: 140px;font-size: 100px; z-index:1000;">
      点 燃 梦 想 <small>JUST NOW! </small>&rarr;
    </h1>
  </a>
</div>
<div class="intro">
  <h1 class="title">Jobs in China</h1>
  <p class="slogan">Jobs in China 是一个提供软件开发高薪工作机会的求职网站
  <br>
  我们希望藉由这个网站，能让大家找到且应征上高薪且优质的工作
  <br>
   凭借自己的努力和天份也会变 Winner
  </p>
  <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
</div>
<div class="container-fluid text-center language">
  <h2>热 门 职 位</h2>
  <p>总有一个是你的最爱</p>
  <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="row">
        <div class="col-sm-2">
          <div class="thumbnail">
            <img src='<%= image_url 'node.png' %>' alt="node">
            <p><strong>Node.js</strong></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <img src="<%= image_url "ruby.png" %>" alt="ruby">
            <p><strong>Ruby</strong></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <img src='<%= image_url 'java.png' %>' alt="java">
            <p><strong>Java</strong></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <img src="<%= image_url "php.png" %>" alt="php">
            <p><strong>php</strong></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <img src="<%= image_url "python.png" %>" alt="python">
            <p><strong>Python</strong></p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="thumbnail">
            <img src="<%= image_url "go.png" %>" alt="go">
            <p><strong>Go</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
