<div class="pull-right">
  <%= link_to "新建一份工作", new_admin_job_path, class: "btn btn-primary new-job" %>
</div>

<table class="table table table-boldered table-striped custab">
  <thead>
    <tr>
      <th>状态</th>
      <th>职缺</th>
      <th>简历数量</th>
      <th>工资下限</th>
      <th>工资上限</th>
      <th>管理选项</th>
      <th>发布时间</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
          <%= render_job_status(job) %>
        </td>
        <td>
          <%= link_to job.title, admin_job_path(job) %>
        </td>
        <td>
          <%= link_to job.resumes.count, admin_job_resumes_path(job) %>
        </td>
        <td>
          <%= job.wage_lower_bound %>
        </td>
        <td>
          <%= job.wage_upper_bound %>
        </td>
        <td>
          <% if job.is_hidden %>
          <span data-toggle="tooltip" data-placement="top" title="发布">
            <%= link_to "", publish_admin_job_path(job), method: :post, class: "btn btn-xs btn-success fa fa-unlock" %>
          </span>
          <% else %>
          <span data-toggle="tooltip" data-placement="top" title="隐藏" >
            <%= link_to "", hide_admin_job_path(job), method: :post, class: "btn btn-xs btn-warning fa fa-lock" %>
          </span>
          <% end %>
          |
          <span data-toggle="tooltip" data-placement="top" title="修改" >
            <%= link_to "", edit_admin_job_path(job), class: "btn btn-xs btn-info fa fa-pencil" %>
          </span>
          |
          <span data-toggle="tooltip" data-placement="top" title="删除" >
            <%= link_to "", admin_job_path(job), class: "btn btn-xs btn-danger fa fa-trash-o",
                       method: :delete, data: { confirm: "Are you sure?"} %>
          </span>
        </td>
        <td>
          <%= job.created_at %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
