<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><i class="fa fa-diamond" aria-hidden="true"> Jobs in China</i></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= render "jobs/search_bar" %>
        </li>
        <li>
          <!-- Trigger the modal with a link -->
          <a href="#" data-toggle="modal" data-target="#myModal">
            <i class="fa fa-bell" aria-hidden="true"></i>
            管理员登录提示
          </a>
        </li>
        <% if current_user && current_user.is_admin %>
        <li>
          <%= link_to " 管理员页面", admin_jobs_path, class: "fa fa-user-secret" %>
        </li>
        <% end %>
        <% if !current_user %>
          <li><%= link_to " 注册", new_user_registration_path, class: "fa fa-sign-in" %></li>
          <li>
            <!-- <i class="fa fa-sign-in" aria-hidden="true"></i> -->
            <%= link_to " 登录", new_user_session_path, class: "fa fa-sign-in" %>
          </li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
              <i class="fa fa-user" aria-hidden="true"></i>
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <% if current_user && current_user.is_admin %>
                <li><%= link_to " 管理员", admin_jobs_path, class: "fa fa-user-secret" %></li>
              <% end %>
              <li><%= link_to " 职位列表", jobs_path, class: "fa fa-list-ul" %></li>
              <li class="divider"></li>
              <li><%= link_to " 登出", destroy_user_session_path, method: :delete, class: "fa fa-sign-out" %></li>

            </ul>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          下面是一个管理员账号,可以用它登录浏览管理员页面
        </h4>
      </div>
      <div class="modal-body">
        <p>邮箱：101@qq.com<br/>密码：123456</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
