<!DOCTYPE html>
<html>
  <head>
    <title>Jobs in China</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body id="myPage">
    <div class="container-fluid" id="wrap">
      <div class="row" id="main">
        <%= render "common/navbar" %>

        <div class="col-sm-10 col-sm-offset-1 admin-layout">
          <div class="jumbotron">
              <h1 class="text-center admin">
                <a href="/">&larr;</a>
                Stay Awesome!
                <a href="/jobs">&rarr;</a>
              </h1>

          </div>
          <%= render "common/flashes"%>
          <div class="row">
            <div class="col-sm-2">
              <ul class="nav nav-pills nav-stacked">
                <li class="active " style="max-width: 300px; margin-top: 30px;">
                  <%= link_to " 管理员页面", admin_jobs_path, class: "fa fa-user-secret" %>
                </li>
                <li>
                  <%= link_to " 收藏的简历", admin_resumes_favos_path, class: "fa fa-bookmark"%>
                </li>
                <li>
                  <%= link_to " 职位列表", jobs_path, class: "fa fa-list-ul" %>
                </li>
              </ul>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-10 ">
              <div class="admin-yield">
                <%= yield %>
              <div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <%= render "common/footer" %>
    </div>
  </body>
</html>
