<!DOCTYPE html>
<html>
  <head>
    <title>Jobs in China</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>
  <body id="myPage">
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>

        <div class="col-sm-10 col-sm-offset-1 admin-layout">
          <div class="jumbotron">
          </div>
          <%= render "common/flashes"%>
          <div class="row">
            <div class="col-sm-2">
              <ul class="nav nav-pills nav-stacked">
                <li class="active " style="max-width: 300px; margin-top: 30px;">
                  <%= link_to "管理员页面", admin_jobs_path %>
                </li>
                <li>
                  <%= link_to "收藏的简历", admin_resumes_favos_path%>
                </li>
                <li>
                  <%= link_to "职位列表", jobs_path %>
                </li>
              </ul>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="col-sm-10 ">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "common/footer" %>
  </body>
</html>
